$dark-red-color: #C22821;
$blue-color: #0E69AF;
$shadow-color: #4A4A4AD1;
$silver-color: #F7F7F7;

@import '../../components.module.scss';
@import 'styles/total.scss';
@import 'styles/pc.scss';
@import 'styles/tablet.scss';
@import 'styles/mobile.scss';