@media screen and (min-width: 992px) {
    .slider {
        &__wrapper {
            padding: 108px 0 140px;
        }

        &__carousel {
            width: 65%;
            height: 100%;

            &__item {
                padding: 30px 72px 45px 58px;

                &__header {
                    gap: 35px;
                    padding: 0 40px 0 30px;

                    &__info {

                        h2 {
                            font-size: 1.5em;
                        }

                        span {
                            margin: 10px 0 5px;
                            font-size: 1em;
                        }
                    }
                }

                &__body {
                    padding: 30px 40px 30px 30px;
                    margin-top: 30px;

                    p {
                        font-size: 1em;
                    }
                }
            }
        }
    }
}

@media screen and (min-width: 1250.01px) and (max-width: 1440px) {}

@media screen and (min-width: 992px) and (max-width: 1249.98px) {}