@media screen and ((min-width: 320px) and (max-width: 480.98px)),
(max-width: 319.98px) {
    .sponsors {
        padding: 29px 0 64px;

        &__list {
            &__item{
                width: 25%;
            }
            img {
                transform: scale(.5);
            }
        }
    }
}