$black-color: #000000;
$red-color: #D81E05;

%center {
    display: flex;
    justify-content: center;
    align-items: center;
}

@import '../components.module.scss';
@import 'styles/total.scss';
@import 'styles/pc.scss';
@import 'styles/tablet.scss';
@import 'styles/mobile.scss';