@media screen and ((min-width: 320px) and (max-width: 480.98px)),
(max-width: 319.98px) {
    .form {

        &__polygon {
            width: 90%;
        }

        &__window {
            width: 250px;

            &__inputs {

                input {
                    width: 200px;
                }
            }
        }
    }
}