$red-color: #EE1B25;
$dark-grey-color: #242424;
$black-op-color: #000000CC;

@import '../../components.module.scss';
@import 'styles/total.scss';
@import 'styles/pc.scss';
@import 'styles/tablet.scss';
@import 'styles/mobile.scss';